@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.ibg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ibg2 {
  background-repeat: no-repeat;
}

.title {
  color: #353738;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-align: center;
}

.text {
  color: #848789;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
}

.icon {
  text-align: center;
}

body {
  font-family: "Lato", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.header {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  min-height: 100%;
}
.header__body {
  max-width: 720px;
  position: relative;
  z-index: 1;
}
.header__image {
  background-image: url("../img/header/image-1.jpg");
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.header__logo-mobile {
  display: none;
}
.header__menu {
  padding: 35px 0 0 0;
  flex: 1 1 auto;
}
.header__list {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}
.header__list li {
  padding: 0 86px 0 0;
}
.header__list li:last-child {
  padding: 0;
}
.header__list li:first-child:after {
  content: ".";
  position: absolute;
  left: 133px;
  font-weight: 900;
}
.header__list li:last-child:before {
  content: ".";
  position: absolute;
  right: 123px;
  font-weight: 900;
}
.header__list a {
  color: #4d4959;
  font-family: Lato;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2.6px;
}

@media (max-width: 768px) {
  .header__image {
    display: flex;
    flex: 1 1 auto;
  }

  .header {
    display: flex;
    justify-content: flex-end;
  }
  .header__logo {
    display: none;
  }
  .header__logo-mobile {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    margin: 20px 0 0 65px;
    z-index: 3;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
    margin: 30px 30px 0 0;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger.active span {
    transform: scale(0);
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    position: absolute;
    background-color: #000000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e3e3e9;
    padding: 70px 0 0 0;
    top: -100%;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    padding: 30px 0 0 20px;
  }
  .header__list li:first-child:after {
    display: none;
  }
  .header__list li:last-child:before {
    display: none;
  }
  .header__list li:last-child {
    padding: 30px 0 0 20px;
  }

  body.lock {
    overflow: hidden;
  }
}
.vintagebike {
  padding: 117px 0 142px 0;
  background-color: #f7f7f7;
}
.vintagebike__body {
  max-width: 1080px;
  margin: 0 auto;
}
.vintagebike__content {
  display: flex;
  flex-direction: column;
}
.vintagebike__image {
  text-align: center;
  padding: 0 0 24px 0;
}
.vintagebike__title {
  text-align: center;
  padding: 0 0 10px 0;
}
.vintagebike__text {
  text-align: center;
  padding: 17px 0 0 0;
}

@media (max-width: 768px) {
  .vintagebike {
    padding: 80px 0 80px 0;
  }
  .vintagebike__body {
    max-width: 660px;
  }
}
@media (max-width: 426px) {
  .vintagebike {
    padding: 40px 0 40px 0;
  }
  .vintagebike__body {
    max-width: 370px;
  }
  .vintagebike__title {
    font-size: 14px;
  }
  .vintagebike__text {
    font-size: 12px;
  }
}
.olivia__body {
  display: flex;
  justify-content: space-between;
}
.olivia__right {
  max-width: 533px;
}
.olivia .div {
  min-height: 200px;
}
.olivia__main-image {
  display: flex;
  flex: 1 1 auto;
  background-image: url("../img/content/image-2.jpg");
  width: 100%;
  background-size: cover;
  max-height: 100%;
}
.olivia__main-image img {
  margin: auto auto;
  width: 113px;
  height: 118px;
}
.olivia__icon {
  padding: 70px 0 0 0;
}
.olivia__title {
  padding: 31px 0 0 0;
}
.olivia__text {
  padding: 21px 67px 105px 67px;
  text-align: left;
}
.olivia__sub-image {
  background-image: url("../img/content/image-3.jpg");
  height: 100%;
}
.olivia__main-image2 {
  display: flex;
  flex: 1 1 auto;
  background-image: url("../img/content/image-4.jpg");
  width: 100%;
  background-size: cover;
  max-height: 100%;
}
.olivia__main-image2 img {
  margin: auto auto;
  width: 177px;
  height: 152px;
}
.olivia__sub-image2 {
  background-image: url("../img/content/image-5.jpg");
  height: 100%;
}
.olivia .block__element_1 {
  order: 2;
}
.olivia .block__element_2 {
  order: 1;
}

.retrobike__body {
  display: flex;
  justify-content: space-between;
}
.retrobike__center {
  max-width: 534px;
}
.retrobike__first-image {
  background-image: url("../img/content/image-6.jpg");
  width: 33.333%;
  flex: 1 1 auto;
}
.retrobike__first-image img {
  width: 208px;
  height: 67px;
}
.retrobike__minor-image {
  background-image: url("../img/content/image-7.jpg");
  height: 200px;
  display: block;
}
.retrobike__last-image {
  background-image: url("../img/content/image-8.jpg");
  width: 33.3333%;
  flex: 1 1 auto;
}
.retrobike__icon {
  padding: 70px 0 0 0;
}
.retrobike__title {
  padding: 31px 0 0 0;
}
.retrobike__text {
  padding: 21px 67px 105px 67px;
  text-align: left;
}
.retrobike .ev {
  min-height: 200px;
}

@media (max-width: 768px) {
  .olivia__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .retrobike__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .retrobike__first-image {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 426px) {
  .olivia__icon {
    padding: 30px 0 0 0;
  }
  .olivia__title {
    padding: 15px 0 0 0;
    font-size: 14px;
  }
  .olivia__text {
    padding: 11px 30px 45px 30px;
    text-align: left;
    font-size: 12px;
  }

  .retrobike__icon {
    padding: 30px 0 0 0;
  }
  .retrobike__title {
    padding: 15px 0 0 0;
    font-size: 14px;
  }
  .retrobike__text {
    padding: 11px 30px 45px 30px;
    text-align: left;
    font-size: 12px;
  }
}
.twitter {
  padding: 124px 0 183px 0;
  background-color: #f7f7f7;
}
.twitter__body {
  max-width: 1036px;
  margin: 0 auto;
}
.twitter__icon {
  padding: 0 0 37px 0;
}
.twitter__title {
  padding: 0 0 27px 0;
}
.twitter__text {
  text-align: center;
  color: #848789;
  font-family: Lato;
  font-size: 24px;
  font-style: italic;
  line-height: 34px;
}

@media (max-width: 769px) {
  .twitter__text {
    padding: 0 15px 0 15px;
  }
}
@media (max-width: 426px) {
  .twitter {
    padding: 44px 0 44px 0;
  }
  .twitter__icon {
    padding: 0 0 25px 0;
  }
  .twitter__title {
    padding: 0 0 25px 0;
    font-size: 14px;
  }
  .twitter__text {
    text-align: center;
    color: #848789;
    font-family: Lato;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    padding: 0 10px 0 10px;
  }
}
.shop__body {
  display: flex;
  flex: 1 1 auto;
}
.shop__block-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;
}
.shop__body-block-left {
  display: flex;
  flex-direction: row;
}
.shop__first-image {
  background-image: url("../img/footer/image-9-small.jpg");
  height: 100%;
  flex: 1 1 auto;
  background-repeat: no-repeat;
}
.shop__second-image {
  background-image: url("../img/footer/image-10.jpg");
  height: 100%;
  flex: 1 1 auto;
  background-repeat: no-repeat;
}
.shop__third-image {
  background-image: url("../img/footer/image-14.jpg");
  height: 100%;
  flex: 1 1 auto;
  background-repeat: no-repeat;
}
.shop__block-center {
  display: flex;
  flex: 1 1 auto;
}
.shop__first-image2 {
  background-image: url("../img/footer/image-11.jpg");
  width: 100%;
}
.shop__second-image2 {
  background-image: url("../img/footer/image-12.jpg");
  width: 100%;
}
.shop__block-right {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.shop__body-block-right {
  display: flex;
  flex-direction: row;
}
.shop__first-image3 {
  background-image: url("../img/footer/background/image-13.jpg");
  max-width: 100%;
}
.shop__first-image-icon {
  background-image: url("../img/png/icon-5.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
.shop__second-image3 {
  background-image: url("../img/footer/image-15.jpg");
  width: 100%;
}
.shop__third-image3 {
  background-image: url("../img/footer/image-16.jpg");
  width: 100%;
}
.shop .av1 {
  height: 267px;
}
.shop .av2 {
  height: 267px;
}
.shop .av3 {
  height: 267px;
}
.shop .av4 {
  height: 534px;
}
.shop .av5 {
  height: 534px;
}
.shop .av6 {
  height: 267px;
}
.shop .av7 {
  height: 267px;
}
.shop .av8 {
  height: 267px;
}
.shop .button__body {
  background-color: #282f35;
  width: 100%;
  padding: 75px 0 75px 0;
  display: flex;
  justify-content: center;
}
.shop__button {
  display: inline-block;
  padding: 20px 70px 20px 70px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease 0s;
}
.shop__button span {
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}
.shop__button:hover {
  transition: all 0.5s ease 0s;
  background-color: #fff;
}
.shop__button:hover span {
  color: #000000;
}

@media (max-width: 769px) {
  .shop__body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
  }
}
@media (max-width: 426px) {
  .shop__block-center {
    flex-direction: column;
  }
  .shop .button__body {
    padding: 40px 0 40px 0;
  }
  .shop__button {
    padding: 15px 40px 15px 40px;
  }
}
.mailing__body {
  padding: 119px 0 111px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.mailing__body img {
  max-width: 94px;
}
.mailing__title {
  color: #848789;
  font-family: Lato;
  font-size: 24px;
  font-style: italic;
  line-height: 34px;
  text-align: center;
  padding: 20px 0 35px 0;
}
.mailing__form {
  height: 50px;
  border: 2px solid #d3d7d9;
  padding: 0 120px 0 28px;
  box-shadow: 5px 0 5px #d3d7d9;
}
.mailing__button-form {
  min-width: 80px;
  max-width: 80px;
  height: 50px;
  background-color: #64c29e;
  color: #fff;
  box-shadow: 0 0 10px #87cfb4;
}
.mailing input[type=text]::placeholder {
  color: #929292;
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  text-align: center;
}

.footer {
  background-color: #f7f7f7;
  padding: 108px 0 108px 0;
}
.footer .container {
  max-width: 1100px;
  margin: 0 auto;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__info {
  color: #848789;
  font-family: Lato;
  font-size: 10px;
  font-style: italic;
  line-height: 17.87px;
  text-align: left;
  font-family: "Lato", sans-serif;
  max-width: 155px;
}
.footer__info p {
  font-family: "Lato - Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
.footer__social img {
  padding: 0 10px;
}
.footer__by {
  padding: 15px 0 0 0;
}
.footer__by p {
  color: #848789;
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
  line-height: 17.87px;
  text-align: right;
}
.footer__by img {
  padding: 0 0 0 9px;
  vertical-align: middle;
}

@media (max-width: 1025px) {
  .footer__body {
    padding: 0 30px 0 30px;
  }
}
@media (max-width: 769px) {
  .footer__social img {
    padding: 0 5px;
  }
}
@media (max-width: 426px) {
  .mailing__title {
    font-size: 18px;
    line-height: 34px;
    padding: 20px 0 35px 0;
  }
  .mailing__form {
    height: 40px;
    padding: 0 95px 0 5px;
  }
  .mailing__button-form {
    height: 40px;
  }
  .mailing input[type=text]::placeholder {
    font-size: 12px;
    line-height: 24px;
  }

  .footer {
    padding: 50px 0 55px 0;
  }
  .footer__body {
    display: flex;
    flex-direction: column;
  }
  .footer__info {
    font-size: 9px;
    line-height: 17.87px;
    max-width: 155px;
  }
  .footer__info p {
    font-size: 12px;
  }
  .footer__social {
    padding: 30px 0 10px 0;
  }
  .footer__social img {
    padding: 0 10px;
  }
  .footer__by {
    padding: 15px 0 0 0;
  }
  .footer__by p {
    font-size: 14px;
    line-height: 17.87px;
  }
  .footer__by img {
    padding: 0 0 0 9px;
  }
}
@media (max-width: 331px) {
  .mailing__title {
    font-size: 18px;
    line-height: 34px;
    padding: 20px 0 35px 0;
  }
  .mailing__form {
    height: 40px;
    padding: 0 90px 0 5px;
  }
  .mailing__button-form {
    height: 39px;
    font-size: 11px;
  }
  .mailing input[type=text]::placeholder {
    font-size: 12px;
    line-height: 24px;
  }
}